<html>
    <head>
        <link rel="stylesheet" href="currency.css">
    </head>
        <body>
            <div class="container">
                <div class="row title">
                    <h1>Currency Converter</h1>
                </div>
                <div class="row">
                    <input type="text" name="" id="">
                    <select name="" id="">
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                        <option value="EUR">EUR</option>
                        <option value="INR">INR</option>
                        <option value="INR">INR</option>
                    </select>
                </div>
                <div class="row">
                    <input type="text" name="" id="">
                    <select name="" id="">
                        <option value="INR">INR</option>
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                        <option value="EUR">EUR</option>
                        <option value="INR">INR</option>
                    </select>
                </div>
                <div class="info">
                    <span class="info-value">85</span>
                    <span class="info-at">@</span>
                    <span>85</span>
                </div>
            </div>
        </body>
</html>